# XCode noise
build/
*.mode1v3
*.pbxuser
*.perspectivev3
*.xcodeproj/project.xcworkspace/*
*.xcodeproj/xcuserdata/*

# OSX noise
.DS_Store
profile

# Doxygen
*.docset/
html/
latex/

# shared objects
*.dylib
